<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puzzle Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Complete the sequence:1, 2, 5, 11, ?</h2>

    <form method="POST">
        <input type="text" name="answer" placeholder="Enter your answer" required>
        <input type="submit" value="Submit">
    </form>

    <p>This is a test paragraph to confirm the template and css are loading<p>
</body>
</html>
